* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}
.heading {
  text-align: center;
  padding: 15px 0;
}
.navbar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar .navItem {
  padding: 8px 15px;
  text-decoration: none;

  background-color: rgb(255, 81, 0);
}
.navbar .navItem li {
  color: white;
  font-weight: 500;
  list-style: none;
}
.main_box {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: calc(33.3% - 10px);
  height: 130px;
  margin: 10px 3px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box img {
  height: 100%;
  width: 40%;
}
.box .info {
  padding: 0 15px;
}
.box .info p {
  margin: 3px 0;
  width: 100%;
}
.info .p_name {
  color: #ff5100;
}
.box .price_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 0 5px; */
}
.price_row button {
  font-weight: 400;
  width: 100px;
  background-color: #ff5100;
  border: none;
  color: #fff;
  cursor: pointer;
}
.box .price_row .price {
  color: #ff5100;
}
.type {
  text-transform: initial;
  font-weight: 300;
  font-size: 15px;
}
